.footer{
    width: 100%;
    display: flex;
    padding: 5%;
    align-items: center;
    box-sizing: border-box;
    background-size: cover;
    justify-content: space-between;
    color: #fff;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}