.formulario{
    display: flex;
    justify-content: space-evenly;
    margin: 80px 50px;
    gap: 20px;
    flex-wrap: wrap;
}
.formulario form{

    flex: 1;
    background: #F6F6F6;
    border-radius: 20px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.508);
    padding: 8px 100px;
}
.formulario h2{
    font-size: 32px;
    font-weight: 400;
    color: black;
}

.campo-color{
    height: 40px;
    padding: 5px 15px;
}









